# unity ignore dir
Demo2.1 project/Library/
Demo2.1 project/Logs/
Demo2.1 project/obj/
 
# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp
 
# need include the meta of file
!*.*.meta
