# unity ignore dir
/Demo2.1 project/[Bb]in/
/Demo2.1 project/[Ll]ibrary/
/Demo2.1 project/[Ll]ogs/
/Demo2.1 project/[Tt]emp/
/Demo2.1 project/[Oo]bj/
 
# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp
 
# need include the meta of file
!*.*.meta